# Last.fm API
LASTFM_USERNAME=
LASTFM_API_KEY=

# Spotify Web API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# OpenWeather API
OPENWEATHER_API_KEY=

# Raindrop API
RAINDROP_BEARER_TOKEN=
RAINDROP_COLLECTION_ID=