@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  --color-primary: #6ef2ff;
  --color-secondary: #facf06;
}

@theme inline {
  --border-accent-color: var(--color-primary);

  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);

  --font-oxanium: var(--font-oxanium), var(--font-mono);
}

@layer base {
  dialog {
    margin: auto;
  }
}

@layer components {
  div#root {
    /* px-4 */
    padding-left: max(--spacing(4), env(safe-area-inset-left));
    padding-right: max(--spacing(4), env(safe-area-inset-right));
    margin-bottom: env(safe-area-inset-bottom);

    /* `sm` breakpoint */
    @media (width >= 40rem) {
      /* px-6 */
      padding-left: max(--spacing(6), env(safe-area-inset-left));
      padding-right: max(--spacing(6), env(safe-area-inset-right));
    }

    /* `md` breakpoint */
    @media (width >= 48rem) {
      /* px-8 */
      padding-left: max(--spacing(8), env(safe-area-inset-left));
      padding-right: max(--spacing(8), env(safe-area-inset-right));
    }
  }

  .eq-bar {
    transform: scale(1, -1) translate(0, -24px);

    &.eq-bar--1 {
      animation-name: bar-1;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
    }

    &.eq-bar--2 {
      animation-name: bar-2;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
    }

    &.eq-bar--3 {
      animation-name: bar-3;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
    }
  }

  #weather-summary progress {
    @apply h-1.5 w-full appearance-none;

    &,
    &::-webkit-progress-bar {
      @apply rounded-full bg-gray-700;
    }

    /* Mozilla */
    &::-moz-progress-bar {
      @apply rounded-full bg-linear-to-r;
    }
    &#humidity::-moz-progress-bar {
      @apply from-secondary to-primary;
    }
    &#pressure::-moz-progress-bar {
      @apply from-fuchsia-400 to-fuchsia-500;
    }

    /* WebKit and Blink */
    &::-webkit-progress-value {
      @apply rounded-full bg-linear-to-r;
    }
    &#humidity::-webkit-progress-value {
      @apply from-secondary to-primary;
    }
    &#pressure::-webkit-progress-value {
      @apply from-fuchsia-400 to-fuchsia-500;
    }
  }
}

@keyframes bar-1 {
  0% {
    height: 5px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 5px;
  }
}

@keyframes bar-2 {
  0% {
    height: 15px;
  }
  50% {
    height: 5px;
  }
  100% {
    height: 15px;
  }
}

@keyframes bar-3 {
  0% {
    height: 10px;
  }
  40% {
    height: 5px;
  }
  60% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}

@utility text-trim-both {
  text-box: trim-both cap alphabetic;
}
