@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 110 242 255; /* RGB values of #6EF2FF */
    --color-secondary: 250 207 6; /* RGB values of #FACF06 */
    --border-accent-color: var(--color-primary);
  }
}

@layer components {
  div#root {
    /* px-4 */
    padding-left: max(1rem, env(safe-area-inset-left));
    padding-right: max(1rem, env(safe-area-inset-right));
    margin-bottom: env(safe-area-inset-bottom);
  }

  /* sm */
  @media (min-width: 640px) {
    div#root {
      /* px-6 */
      padding-left: max(1.5rem, env(safe-area-inset-left));
      padding-right: max(1.5rem, env(safe-area-inset-right));
    }
  }

  /* md */
  @media (min-width: 768px) {
    div#root {
      /* px-8 */
      padding-left: max(2rem, env(safe-area-inset-left));
      padding-right: max(2rem, env(safe-area-inset-right));
    }
  }

  .eq-bar {
    transform: scale(1, -1) translate(0, -24px);
  }

  .eq-bar--1 {
    animation-name: bar-1;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

  .eq-bar--2 {
    animation-name: bar-2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

  .eq-bar--3 {
    animation-name: bar-3;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

  #weather-summary progress {
    @apply h-1.5 w-full appearance-none;
  }

  #weather-summary progress,
  #weather-summary progress::-webkit-progress-bar {
    @apply rounded-full bg-gray-700;
  }

  /* Mozilla */
  #weather-summary progress::-moz-progress-bar {
    @apply rounded-full bg-gradient-to-r;
  }
  #weather-summary progress#humidity::-moz-progress-bar {
    @apply from-secondary to-primary;
  }
  #weather-summary progress#pressure::-moz-progress-bar {
    @apply from-fuchsia-400 to-fuchsia-500;
  }

  /* WebKit and Blink */
  #weather-summary progress::-webkit-progress-value {
    @apply rounded-full bg-gradient-to-r;
  }
  #weather-summary progress#humidity::-webkit-progress-value {
    @apply from-secondary to-primary;
  }
  #weather-summary progress#pressure::-webkit-progress-value {
    @apply from-fuchsia-400 to-fuchsia-500;
  }
}

@layer utilities {
  @keyframes bar-1 {
    0% {
      height: 5px;
    }
    50% {
      height: 15px;
    }
    100% {
      height: 5px;
    }
  }

  @keyframes bar-2 {
    0% {
      height: 15px;
    }
    50% {
      height: 5px;
    }
    100% {
      height: 15px;
    }
  }

  @keyframes bar-3 {
    0% {
      height: 10px;
    }
    40% {
      height: 5px;
    }
    60% {
      height: 15px;
    }
    100% {
      height: 10px;
    }
  }
}
